@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
}

:root {
    /* Primary */

--Cyan: hsl(179, 62%, 43%);
--BrightYellow: hsl(71, 73%, 54%);

/* ### Neutral */

--lightGray: hsl(204, 43%, 93%);
--grayishBlue: hsl(218, 22%, 67%);

}

.card {
    background-color: rgb(0, 255, 213);
    width: 20rem;
    height: 45rem;
    border-radius: 0.5rem;
}